<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @product %>
    <%= line_chart @product.prices.group(:updated_at).sum(:price), suffix: "$" %>
    <h3 class="text-center">Agregar nuevo precio de hoy</h3>
    <div class="d-flex justify-content-around text-center">
      <%= simple_form_for [@product, @new_price] do |f| %>
        <%= f.input :price %>
        <%= f.submit %>

      <% end %>
    </div>
  <div>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
    <%= link_to "Back to products", products_path %>
    <h4>Price history</h4>
    <% @product.prices.each do |price| %>
      <p>Added on <%= price.updated_at %>: $<%= price.price %></p>
    <% end %>
    <%#= button_to "Destroy this product", @product, method: :delete %>
  </div>

</div>